*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    border: 2px solid greenyellow;
    padding: 20px;
    margin: 50px;
    text-align: center;
    background: red;
    color: white;
    font-size: 50px;
    font-weight: bolder;
}

img{
    width: 300px;
   margin-left: 470px;
   border: 2px solid greenyellow;
   border-radius: 350px;
}

h2{
    width: 250px;
    border: 2px solid #000;
    padding: 20px;
    margin: 35px 0 0 490px;
    text-align: center;
    /* display: inline; */
}